:root {
  --primary-color: #ff9000;
  --secondary-color: #ffffff;
  --accent-color: #aaa;

  --bg-cover-color: rgba(0, 0, 0, 0.6);
}

@font-face {
  font-family: Niconne;
  src: url(../assets/fonts/Niconne-Regular.ttf);
}

@font-face {
  font-family: "Poppins-Regular";
  src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(../assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(../assets/fonts/Poppins-Bold.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(../assets/img/bg.jpg) center no-repeat;
  background-size: cover;
  font-family: "Poppins-Regular";
  font-size: 16px;
  color: var(--secondary-color);
}

h1 {
  font-family: "Poppins-Bold";
  font-size: 3rem;
}

h3 {
  font-size: 1.1rem;
}

header {
  min-height: 10vh;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-cover-color);
}

#menu {
  list-style: none;
  display: flex;
  gap: 1rem;
}

#menu li {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-bottom: 4px solid transparent;
  cursor: pointer;
}

#menu li:hover {
  color: var(--primary-color);
  border-color: var(--accent-color);
  background-color: #fff;
}

#menu .active,
#menu li:active {
  color: var(--primary-color);
  border-color: var(--primary-color);
  background-color: rgba(111, 111, 111, 0.1);
}

#logo,
#welcome {
  font-family: Niconne, sans-serif;
  font-size: 2rem;
}

#logo span:first-child {
  color: var(--primary-color);
}

main {
  min-height: 90vh;
  padding: 2rem 5rem;
  text-align: center;
  display: grid;
  place-content: center;
  gap: 1rem;
  background-color: var(--bg-cover-color);
}

button {
  width: 8rem;
  padding: 0.5rem;
  font-weight: bold;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 3px;
  background-color: transparent;
}

main button {
  padding: 1rem 1.5rem;
  background-color: rgba(0, 0, 0, 0.3);
}

main button:first-child,
header button {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

main button:first-child:hover,
header button:hover {
  background-color: black;
  color: var(--primary-color);
}

main button:last-child:hover {
  background-color: black;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

main button:active {
  width: 7rem;
  padding: 0.5rem;
}

#callToActionBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#our-menu {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  width: 240px;
  height: 280px;
  place-self: center;
  background-color: var(--bg-cover-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  width: 100%;
  height: 60%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.food-name {
  font-weight: bold;
}

.food-ingredients {
  color: var(--accent-color);
  font-size: 0.7rem;
}

.price {
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 900;
}
